.totalBox{
    width: 100%;
    display: flex;
    .intBox{
        width: 3vw;
        height: 3vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        // color: rgb(240, 240, 240);
        font-size: 16px;
        span{
            align-items: center;
        }
    }
}
.head{
    margin-bottom: 20px;
    margin-right: 20px;
    span{
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}